VectorEditorWeb/
VectorEditorStandalone/bin-debug/
RegistryWSClient/.model/
RegistryWSClient/bin-debug/
RegistryWSClient/html-template/
RegistryWSClient/src/services/
RegistryWSClient/src/valueObjects/
VectorCommon/bin/
*~